body {
  /* background-image: url(londan.jpg); */
  background-color: cyan;
  background-size: cover;
  height: 100px;
  width: 100%;
}
.count {
  text-align: center;
  margin-top: 5px;
  font-weight: 70px;
  font-size: 50px;
  align-items: center;
}
.count input,
button,
a {
  text-align: center;
  margin-top: 10%;
  font-weight: 70px;
  font-size: 20px;
  align-items: center;
}
.count fieldset {
  font-size: x-large;
  margin-left: 28%;
  margin-right: 28%;
  background-image: url(london.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;

  color: chartreuse;
}
#submit {
  border: 2px solid #fcfc;
  background-color: rgb(11, 224, 97);
  border-radius: 4px;
  padding: 8px;
  display: block;
  font-family: inherit;
  font-size: x-large;
  width: 100%;
  color: darkorange;
}
